<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <div class="name_web">
                <h2>C.M.T</h2>
            </div>
            <nav class="navigation">
                <ul class="navitagion_list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
                <div class="">
                    <button id="toggle_button">awdawd</button>
                </div>
            </nav>
        </header>
    </main>
</body>
</html>