<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/home.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="name_web">
            <h2>C.M.T</h2>
        </div>
        <nav class="navigation">
            <ul class="navigation-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Contact Me</a></li>
            </ul>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="dark-mode-toggle"
                class="dark-mode-toggle">
                <path fill="#000000"
                    d="M448 256c0-106-86-192-192-192l0 384c106 0 192-86 192-192zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z" />
            </svg>
        </nav>
    </header>
    <main>
        <section class="introduction_section">
            <div id="introduction-section-info">
                <h1 id="title-introduction-section">CARLES MECA T.</h1>
                <h2 id="subtitle">Jr Web Developer & Student</h2>
                <p id="info">Desarrollador web junior y estudiante en constante formación, busco oportunidades para aplicar y
                    mejorar mis habilidades mientras contribuyo al desarrollo de proyectos dinámicos e innovadores.
                </p>
                <button id="more-about-me">More about me</button>
            </div>
        </section>
        <section id="professional-experience">
            <h1>Profesional Experience</h1>
            <p></p>
        </section>
        <section class="projects-section">
            <div>
                <h1> Projects</h1>
                <p>Mis proyectos se enfocan en abordar desafíos diversos y dar nuevas formas de aprendizaje.
                    Con un enfoque simplificado, estos son algunos de ellos : </p>
            </div>
            <div class="show-projects-section">

            </div>
        </section>
    </main>
    <script src="../js/darkmode.js"></script>
</body>

</html>