<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../output.css" rel="stylesheet">
</head>
<body>
  <div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
  <main>
    <header class="p-5 text-white">
      <nav class="flex items-center justify-between">
      <div class="flex items-center">
        <h1 class="text-2xl font-bold">CMT</h1>
      </div>
        <ul class="flex">
          <li class="p-3"><a href="#">Home</a></li>
          <li class="p-3"><a href="#">Experience</a></li>
          <li class="p-3"><a href="#">Contact</a></li>
          <li class="p-3"><a href="#">About Me</a></li>
        </ul>
      </nav>
    </header>
  </main>
  </div>
  </body>
</html>