* {
    margin: 0;
    padding: 0;
}


/*--------------------GENERAL STYLING--------------------*/

:root {
    --font-main-color: black;
    --font-second-main-color:#FFFFFF;
    --background-color: #FFFFFF;
    --text-color: #000000;
    --background-color-darkmode: #171717;
}

.darkmode {/*DEFAULT STYLING DARKMODE*/
    --background-color: var(--background-color-darkmode);
    --text-color: var(--font-second-main-color);
    --font-main-color: #FFFFFF;
}

body{/*DEFAULT STYLING LIGTHMODE*/
    background-color: var(--background-color, #FFFFFF);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:var(--font-main-color);
}

body {
    font-family: "Poppins", sans-serif;
}

/*--------------------WEB_STYLING-------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 15px;
}

.navitagion_list {
    display: flex;
    margin-right: 10px;
}

.navitagion_list li{
    margin-right: 30px;
}

.navigation {
    display: flex;
    align-items: center;
}

#dark-mode-toggle{
    border-radius: 1px solid black;
    width: 20px;
}